version: '3'

services:
  osmosis:
    image: chainroot/osmosis:20.1.2
    restart: always
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    env_file: .env
    ports:
      - 26656:26656
      - 26657:26657
    #In order to persist data
    volumes:
      - ./data:/osmosis/.osmosisd
