name: Lint, Build, and Push
on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build and Push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get branch name
        run: echo "BRANCH_NAME=${{ github.head_ref }}" >> $GITHUB_ENV

      - name: Lint
        run: make lint

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Get changed files
        id: changed_files
        uses: tj-actions/changed-files@v37
        with:
          dir_names: true
          dir_names_max_depth: 1
          files_ignore: .github/**

      - name: Push to DockerHub
        run:
          for folder in ${{ steps.changed_files.outputs.all_changed_files }}; do
          make push-$folder BRANCH_NAME=${{ env.BRANCH_NAME }};
          done
